.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.850rem;
  font-kerning: auto;
  letter-spacing: 0.052rem;
  padding-top: 0.400rem;
  padding-bottom: 0.400rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.156rem;

  &:hover {
    background-color: rgba(0,0,0,0.2);
  }
  &:active {
    background-color: rgba(0,0,0,0.29);
    color: rgb(0,0,0);
  }
}

/*
primary color: https://www.shadegenerator.com/4D74A3
*/
.button--primary {
  color: black;
  background-color: rgb(157, 179, 204);
  &:hover {
    background-color: rgb(184, 199, 218);
  }
  &:active {
    background-color: rgb(228, 234, 241);
  }
}
/*
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
} */
