@import url('./main.scss');

input:not(input[checkbox]):not(.switch--checkbox) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.500rem;
  padding-bottom: 0.500rem;
  border-style: solid;
  border-width: 0.220rem;
  border-radius: 0.125rem;
  border-color: var(--input-border-color);
  outline: none;
  transition: all;
  color: var(--input-text-color);
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  background-color: var(--input-background-color);
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.945rem;
  font-kerning: auto;

  /*
    border color: https://www.shadegenerator.com/88A795
    background color: https://www.shadegenerator.com/DBC7C9
  */
  &:hover {
    background-color: var(--input-hover-color);
    border-color: var(--primary-color);
  }

  &:focus {
    background-color: var(--input-active-color);
    border-color: var(--primary-color);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(129, 159, 142);
    border-color: rgb(109, 134, 119);
  }
}