@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgb(62, 93, 130);
        --primary-text-color: white;
        --primary-hover-color: rgb(50, 75, 106);
        --primary-hover-shadow-color: rgb(20, 33, 49);
        --primary-active-color: rgb(35, 52, 73);
        --primary-focused-shadow-color: rgb(0, 0, 0);
        --danger-color: rgb(221, 55, 55);
        --danger-text-color: white;
        --danger-hover-color: rgb(188, 47, 47);
        --danger-hover-shadow-color: rgb(93, 18, 18);
        --danger-active-color: rgb(166, 41, 41);
        --warning-color: rgb(181, 179, 61);
        --warning-text-color: white;
        --warning-hover-color: rgb(172, 170, 58);
        --warning-active-color: rgb(145, 143, 49);
        /* https://www.shadegenerator.com/FFFFFF */
        --input-border-color: rgb(166, 166, 166);
        --input-background-color: rgb(242, 242, 242);

        --input-hover-color: rgb(217, 217, 217);
        --input-active-color: rgb(242, 242, 242);
        --input-text-color: rgb(0, 0, 0);
        --switch-on-color: rgb(38, 201, 95);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --switch-on-color: rgb(38, 201, 95);
        /* https://www.shadegenerator.com/2C86F4 */
        --primary-color: rgb(44, 134, 244);
        --primary-text-color: black;
        --primary-hover-color: rgb(97, 164, 247);
        --primary-active-color: rgb(171, 207, 251);
        --primary-hover-shadow-color: rgb(84, 103, 126);
        --primary-focused-shadow-color: rgba(256, 256, 256, 0.2);
        /* https://www.shadegenerator.com/FC3737 */
        --danger-color: rgb(252, 75, 75);
        --danger-text-color: black;
        --danger-hover-color: rgb(253, 105, 105);
        --danger-active-color: rgb(253, 135, 135);
        /* https://www.shadegenerator.com/B5B33D */
        --warning-color: rgb(192, 190, 90);
        --warning-text-color: black;
        --warning-hover-color: rgb(211, 209, 139);
        --warning-active-color: rgb(225, 225, 177);
        --secondary-hover-color: rgba(256, 256, 256, 0.6);
        --secondary-active-color: rgba(256, 256, 256, 0.2);
        /* https://www.shadegenerator.com/FFFFFF */
        --input-border-color: rgb(77, 77, 77);
        --input-background-color: rgb(38, 38, 38);
        --input-active-color: rgb(77, 77, 77);
        --input-text-color: rgb(256, 256, 256);
    }
}