@import url('./main.scss');

.switch--box {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    font-kerning: auto;
    letter-spacing: 0.052rem;
    color: var(--input-text-color);
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
}

.switch {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.850rem;
    font-kerning: auto;
    letter-spacing: 0.052rem;
    padding-top: 0.400rem;
    padding-bottom: 0.400rem;
    cursor: pointer;
    transition: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    outline: none;
    position: relative;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    border-style: solid;
    border-width: 0.220rem;
    border-radius: 0.125rem;
    border-color: var(--input-background-color);
}

.switch--label {
    padding-top: 0.400rem;
    padding-bottom: 0.400rem;
    padding-left: 1rem;
    padding-right: 1rem;
    user-select: none;
    color: var(--input-border-color);
}

.switch--selected {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border-radius: 0.125rem;
}

.switch--checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;

    &:active &:focus &:hover {
        background-color: transparent;
    }
}